<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href="{{ asset ('/public/img/faviconciidet2.ico') }}" type="image/ico" />

    <title>{% block title %}Sistema RH: Módulo Administrador {% endblock %}</title>

    {% block stylesheets %}
    <link href="{{ asset ('/public/css/base.css') }}" rel="stylesheet" type="text/css">
    <!-- Bootstrap -->
    <link href="{{ asset ('assets/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
    <!-- Font Awesome -->
    <link href="{{ asset ('assets/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
    <!-- NProgress -->
    <link href="{{ asset ('assets/nprogress/nprogress.css') }}" rel="stylesheet" type="text/css">
    <!-- iCheck -->
    <link href="{{ asset ('assets/iCheck/skins/flat/green.css') }}" rel="stylesheet" type="text/css">
    <!-- Datatables -->
    <link href="{{ asset ('assets/datatables.net-bs/css/dataTables.bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset ('assets/datatables.net-buttons-bs/css/buttons.bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset ('assets/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset ('assets/datatables.net-responsive-bs/css/responsive.bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset ('assets/datatables.net-scroller-bs/css/scroller.bootstrap.min.css') }}" rel="stylesheet">
    <!-- bootstrap-progressbar -->
    <link href="{{ asset ('assets/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css') }}" rel="stylesheet" type="text/css">
    <!-- JQVMap -->
    <link href="{{ asset ('assets/jqvmap/dist/jqvmap.min.css') }}" rel="stylesheet" type="text/css">
    <!-- bootstrap-daterangepicker -->
    <link href="{{ asset ('assets/bootstrap-daterangepicker/daterangepicker.css') }}" rel="stylesheet" type="text/css">

    <!-- Custom Theme Style -->
    <link href="{{ asset ('build/css/custom.min.css') }}" rel="stylesheet" type="text/css">
    {% endblock %}

  </head>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
              <a href="{{ path("index") }}" class="site_title"><img src="/public/img/logonuevo50-copia.png" ></img> <span>Sistema RH</span></a>
            </div>

            <div class="clearfix"></div>

            <!-- menu profile quick info -->
            <div class="profile clearfix">
              <div class="profile_pic">
                <img src="/public/img/userinterfaz.png" alt="..." class="img-circle profile_img">
              </div>
              <div class="profile_info">
                <span>Bienvenido/a,</br>
                Nombre del Admin</span>
                <h2></h2>
              </div>
            </div>
            <!-- /menu profile quick info -->

            <br />

            <!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section">
                <h3>General</h3>
                <ul class="nav side-menu">
                  <li><a href="{{ path("index") }}"><i class="fa fa-home"></i> Inicio </a>
                  </li>
                  <li><a href="{{ path("perfil_admin") }}"><i class="fa fa-user"></i>Mi perfil</a></li>
                  <li><a><i class="fa fa-check-square"></i> Control de: <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="{{ path("empleado_index") }}">Empleados</a></li>
                      <li><a href="{{ path("escolaridad_index") }}">Escolaridad</a></li>
                      <li><a href="{{ path("acceso") }}">Accesos</a></li>
                      <li><a href="{{ path("ausencia_index") }}">Ausencias</a></li>
                      <li><a href="{{ path("antiguedad") }}">Antigüedad</a></li>
                    </ul>
                  </li>
                  <li><a><i class="fa fa-university"></i> Áreas <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="{{ path("subdireccion_index") }}">Subdirección</a></li>
                      <li><a href="{{ path("departamento_index") }}">Departamentos</a></li>
                    </ul>
                  </li>
                  <li><a href="{{ path("licencia_index") }}"><i class="fa fa-bookmark"></i>Licencias</a></li>
                  <li><a href="{{ path("puesto_index") }}"><i class="fa fa-briefcase"></i>Puestos </a></li>
                  <li><a href="{{ path("semestre_index") }}"><i class="fa fa-calendar"></i> Semestres </a></li>
                  <li><a href="{{ path("categoria_index") }}"><i class="fa fa-sitemap"></i> Categorías </a></li>
                  <li><a href="{{ path("docsoficiales_index") }}"><i class="fa fa-folder-o"></i> Documentos Oficiales </a></li>
                  <li><a href="{{ path("niveledu_index") }}"><i class="fa fa-mortar-board"></i> Nivel Educativo </a></li>
                  <li><a href="{{ path("statusedu_index") }}"><i class="fa fa-line-chart"></i> Status Educativo </a></li>
                  <li><a href="{{ path("tramite_index") }}"><i class="fa fa-file-o"></i> Trámites </a></li>
                </ul>
              </div>
            </div>
            <!-- /sidebar menu -->
          </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav">
          <div class="nav_menu">
            <nav>
              <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
              </div>

              <ul class="nav navbar-nav navbar-right">
                <li class="">
                  <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <img src="/public/img/userinterfaz.png" alt="">Nombre Admin
                    <span class=" fa fa-angle-down"></span>
                  </a>
                  <ul class="dropdown-menu dropdown-usermenu pull-right">
                    <li><a href="{{ path("app_homepage") }}"><i class="fa fa-sign-out pull-right"></i> Cerrar Sesión</a></li>
                  </ul>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <!-- /top navigation -->
        {% block body %}
        {% block content %}{% endblock %}
        {% endblock %}
        <!-- footer content -->
        <footer>
          <div id="footer">
            <center><img src="/public/img/logo_footer_sep.png" />
                <div id="footerletra">
                    <p>Av. Universidad No. 282 Pte., Col. Centro, C.P. 76000, Querétaro, Qro.<br>
                        Conmutador: 01 (442) 216 - 3746 y 47<br>
                        www.ciidet.edu.mx
                    </p>
                </div>
            </center>
        </div>
          <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
      </div>
    </div>




  </body>

  {% block javascripts %}
  <!-- jQuery -->
  <script src="{{ asset ('/assets/jquery/dist/jquery.min.js') }}"></script>
  <!-- Bootstrap -->
  <script src="{{ asset ('/assets/bootstrap/dist/js/bootstrap.min.js') }}"></script>
  <!-- FastClick -->
  <script src="{{ asset ('/assets/fastclick/lib/fastclick.js') }}"></script>
  <!-- NProgress -->
  <script src="{{ asset ('/assets/nprogress/nprogress.js') }}"></script>
  <!-- Chart.js -->
  <script src="{{ asset ('/assets/Chart.js/dist/Chart.min.js') }}"></script>
  <!-- gauge.js -->
  <script src="{{ asset ('/assets/gauge.js/dist/gauge.min.js') }}"></script>
  <!-- bootstrap-progressbar -->
  <script src="{{ asset ('/assets/bootstrap-progressbar/bootstrap-progressbar.min.js') }}"></script>
  <!-- iCheck -->
  <script src="{{ asset ('/assets/iCheck/icheck.min.js') }}"></script>
  <!-- Skycons -->
  <script src="{{ asset ('/assets/skycons/skycons.js') }}"></script>
  <!-- Flot -->
  <script src="{{ asset ('/assets/Flot/jquery.flot.js') }}"></script>
  <script src="{{ asset ('/assets/Flot/jquery.flot.pie.js') }}"></script>
  <script src="{{ asset ('/assets/Flot/jquery.flot.time.js') }}"></script>
  <script src="{{ asset ('/assets/Flot/jquery.flot.stack.js') }}"></script>
  <script src="{{ asset ('/assets/Flot/jquery.flot.resize.js') }}"></script>
  <!-- Flot plugins -->
  <script src="{{ asset ('/assets/flot.orderbars/js/jquery.flot.orderBars.js') }}"></script>
  <script src="{{ asset ('/assets/flot-spline/js/jquery.flot.spline.min.js') }}"></script>
  <script src="{{ asset ('/assets/flot.curvedlines/curvedLines.js') }}"></script>
  <!-- DateJS -->
  <script src="{{ asset ('/assets/DateJS/build/date.js') }}"></script>
  <!-- JQVMap -->
  <script src="{{ asset ('/assets/jqvmap/dist/jquery.vmap.js') }}"></script>
  <script src="{{ asset ('/assets/jqvmap/dist/maps/jquery.vmap.world.js') }}"></script>
  <script src="{{ asset ('/assets/jqvmap/examples/js/jquery.vmap.sampledata.js') }}"></script>
  <!-- bootstrap-daterangepicker -->
  <script src="{{ asset ('/assets/moment/min/moment.min.js') }}"></script>
  <script src="{{ asset ('/assets/bootstrap-daterangepicker/daterangepicker.js') }}"></script>
  <!-- Datatables -->
  <script src="{{ asset ('/assets/datatables.net/js/jquery.dataTables.min.js') }}"></script>
  <script src="{{ asset ('/assets/datatables.net-bs/js/dataTables.bootstrap.min.js') }}"></script>
  <script src="{{ asset ('/assets/datatables.net-buttons/js/dataTables.buttons.min.js') }}"></script>
  <script src="{{ asset ('/assets/datatables.net-buttons-bs/js/buttons.bootstrap.min.js') }}"></script>
  <script src="{{ asset ('/assets/datatables.net-buttons/js/buttons.flash.min.js') }}"></script>
  <script src="{{ asset ('/assets/datatables.net-buttons/js/buttons.html5.min.js') }}"></script>
  <script src="{{ asset ('/assets/datatables.net-buttons/js/buttons.print.min.js') }}"></script>
  <script src="{{ asset ('/assets/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js') }}"></script>
  <script src="{{ asset ('/assets/datatables.net-keytable/js/dataTables.keyTable.min.js') }}"></script>
  <script src="{{ asset ('/assets/datatables.net-responsive/js/dataTables.responsive.min.js') }}"></script>
  <script src="{{ asset ('/assets/datatables.net-responsive-bs/js/responsive.bootstrap.js') }}"></script>
  <script src="{{ asset ('/assets/datatables.net-scroller/js/dataTables.scroller.min.js') }}"></script>
  <script src="{{ asset ('/assets/jszip/dist/jszip.min.js') }}"></script>
  <script src="{{ asset ('/assets/pdfmake/build/pdfmake.min.js') }}"></script>
  <script src="{{ asset ('/assets/pdfmake/build/vfs_fonts.js') }}"></script>

  <!-- Custom Theme Scripts -->
  <script src="{{ asset ('/build/js/custom.min.js') }}"></script>
  {% endblock %}
</html>
