{% extends 'base.html.twig' %}

{% block body %}
    <h1>Horarios list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Lunm</th>
                <th>Marm</th>
                <th>Mierm</th>
                <th>Juem</th>
                <th>Vierm</th>
                <th>Lunv</th>
                <th>Marv</th>
                <th>Mierv</th>
                <th>Juev</th>
                <th>Vierv</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for horario in horarios %}
            <tr>
                <td><a href="{{ path('horario_show', { 'id': horario.id }) }}">{{ horario.id }}</a></td>
                <td>{% if horario.lunm %}{{ horario.lunm|date('H:i:s') }}{% endif %}</td>
                <td>{% if horario.marm %}{{ horario.marm|date('H:i:s') }}{% endif %}</td>
                <td>{% if horario.mierm %}{{ horario.mierm|date('H:i:s') }}{% endif %}</td>
                <td>{% if horario.juem %}{{ horario.juem|date('H:i:s') }}{% endif %}</td>
                <td>{% if horario.vierm %}{{ horario.vierm|date('H:i:s') }}{% endif %}</td>
                <td>{% if horario.lunv %}{{ horario.lunv|date('H:i:s') }}{% endif %}</td>
                <td>{% if horario.marv %}{{ horario.marv|date('H:i:s') }}{% endif %}</td>
                <td>{% if horario.mierv %}{{ horario.mierv|date('H:i:s') }}{% endif %}</td>
                <td>{% if horario.juev %}{{ horario.juev|date('H:i:s') }}{% endif %}</td>
                <td>{% if horario.vierv %}{{ horario.vierv|date('H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('horario_show', { 'id': horario.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('horario_edit', { 'id': horario.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('horario_new') }}">Create a new horario</a>
        </li>
    </ul>
{% endblock %}
