{% extends 'baseAdmin.html.twig' %}

{% block body %}
<!-- page content -->
{% block content %}
<div class="right_col" role="main">
  <h1>Documentos Oficiales</h1>
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <br />
        <!--Empiezan Acciones Agregar-->
        <div class="x_title">
          <h2>Acciones</h2>
          <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>

        <!--<h1>Docsoficiales list</h1>

        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Activo</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for docsOficiale in docsOficiales %}
                <tr>
                    <td><a href="{{ path('docsoficiales_show', { 'id': docsOficiale.id }) }}">{{ docsOficiale.id }}</a></td>
                    <td>{{ docsOficiale.nombre }}</td>
                    <td>{{ docsOficiale.activo }}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('docsoficiales_show', { 'id': docsOficiale.id }) }}">show</a>
                            </li>
                            <li>
                                <a href="{{ path('docsoficiales_edit', { 'id': docsOficiale.id }) }}">edit</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <ul>
            <li>
                <a href="{{ path('docsoficiales_new') }}">Create a new docsOficiale</a>
            </li>
        </ul>-->

        <form id="docsOficiales">
          <a class="btn btn-app" href="{{ path('docsoficiales_new') }}">
            <i class="fa fa-plus-square"></i> Agregar Docs. Oficiales
          </a>
            <!--<div class="modal fade" id="agregarDocsOficiales" role="dialog">
              <div class="modal-dialog">
                <!- Modal content->
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Agregar Docs. Oficiales</h4>
                  </div>
                  <div class="modal-body">
                    <div class="form-group">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Id del Documento Oficial <span class="required">*</span>
                      </label>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        <input type="text" id="idDocOficialEsc" name="idDocOficialEsc" required="required" class="form-control col-md-7 col-xs-12" disabled="disabled">
                      </div>
                    </div>
                    </br>
                    </br>
                    <div class="form-group">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Nombre del Documento Oficial <span class="required">*</span>
                      </label>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        <input type="text" id="nombreDocOficialEsc" name="nombreDocOficialEsc" required="required" class="form-control col-md-7 col-xs-12">
                      </div>
                    </div>
                    </br>
                    </br>
                    </br>
                    <div class="form-group">
                      <label class="control-label col-md-3 col-sm-3 col-xs-3" for="last-name">Activo <span class="required">*</span>
                      </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <select class="form-control">
                            <option selected disabled>Elegir...</option>
                            <option>Si</option>
                            <option>No</option>
                          </select>
                        </div>
                    </div>
                    </br>

                  </div>
                  <div class="modal-footer">
                    <button type="submit" class="btn btn-default" data-dismiss="modal">Agregar</button>
                  </div>
                </div>
              </div>
            </div>
            <!-Termina Acciones Agregar-->

            <!--Empiezan Acciones Modificar->
            <a class="btn btn-app" data-toggle="modal" data-target="#modificarDocsOficiales">
              <i class="fa fa-edit"></i> Modificar Docs. Oficiales
            </a>
              <div class="modal fade" id="modificarDocsOficiales" role="dialog">
                <div class="modal-dialog">
                  <!- Modal content->
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Modificar Docs. Oficiales</h4>
                    </div>
                    <div class="modal-body">
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Id del Documento Oficial <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="text" id="idDocOficialEsc" name="idDocOficialEsc" required="required" class="form-control col-md-7 col-xs-12">
                        </div>
                        <button type="button" class="btn btn-dark">Buscar</button>
                      </div>
                      </br>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Nombre del Documento Oficial <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="text" id="nombreDocOficialEsc" name="nombreDocOficialEsc" required="required" class="form-control col-md-7 col-xs-12">
                        </div>
                      </div>
                      </br>
                      </br>
                      </br>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-3" for="last-name">Activo <span class="required">*</span>
                        </label>
                          <div class="col-md-6 col-sm-6 col-xs-12">
                            <select class="form-control">
                              <option selected disabled>Elegir...</option>
                              <option>Si</option>
                              <option>No</option>
                            </select>
                          </div>
                      </div>
                      </br>

                    </div>
                    <div class="modal-footer">
                      <button type="submit" class="btn btn-default" data-dismiss="modal">Modificar</button>
                    </div>
                  </div>
                </div>
              </div>
              <!-Termina Acciones Modificar-->

                <!--Empieza lista-->
                <div class="x_title">
                  <h2>Lista de Docs. Oficiales</h2>
                  <ul class="nav navbar-right panel_toolbox">
                  </ul>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">
                  <br />
                    <!--empieza tabla -->
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="clearfix"></div>
                        <div class="x_content">
                          <table class="table table-bordered">
                            <thead>
                              <tr>
                                <th>Id del Documento Oficial</th>
                                <th>Nombre del Documento Oficial</th>
                                <th>Activo</th>
                                <th>Acciones</th>
                              </tr>
                            </thead>
                            <tbody>
                            {% for docsOficiale in docsOficiales %}
                                <tr>
                                    <td><a href="{{ path('docsoficiales_show', { 'id': docsOficiale.id }) }}">{{ docsOficiale.id }}</a></td>
                                    <td>{{ docsOficiale.nombreDoc }}</td>
                                    <td>{{ docsOficiale.activo }}</td>
                                    <td><center><a href="{{ path('docsoficiales_edit', { 'id': docsOficiale.id }) }}" class="btn btn-dark">Editar</a></center></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                          </table>
                        </div>
                    </div>
                    <!--termina tabla -->
                </div>
                <!--Termina Lista -->
              </form>
            </div>
          </div>
        <br />
      </div>
{% endblock %}
<!-- /page content -->
{% endblock %}
